# virtual environment

.env
myenv/
venv/

# python cache
__pycache__/
*.pyc

# env file
.env

# IDE
.vscode/
.idea/git add .gitignore
git commit -m "remove virtual environment and clean repo structure"